@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    overflow-x:hidden;

}


nav  {
    position: fixed;
}
nav{
    padding:10px 30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: var(--primary-color);
    height:70px;
    position:relative;
    position:sticky;
    top:0;
    
}




.nav-heading{
    font-size:18px;
    font-family:"Roboto";
    color:var(--secondary-color);
    text-transform:uppercase;
    position:relative;
    font-weight:lighter;
    

}
.nav-heading a{
    text-decoration: none;
    color:var(--secondary-color);
    
    
    
}

@media screen and (min-width:750px){
    .nav-heading{
        font-size:25px;

    
    }

    
}
nav ul{
    display:flex;
    gap:30px; 
    margin-left:30px;
    
}

nav ul li{
    font-size:20px;
    list-style-type: none;
    text-transform: uppercase;
    
}

@media  (max-width:749px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        right:0;
        flex-direction: column;
        text-align:center;
        background-color:var(--primary-color);
        gap:0;
        overflow:hidden;
        

    }
    
    nav ul li{
        padding:20px;
        list-style-type:none;
        font-size:14px;
        color:var(--secondary-color);
    }
    
    .menu-icon{
        display:block;

    }
}



nav ul li a{
    text-decoration:none;
    color:var(--secondary-color);
    position:relative;
}

.menu-icon{
    color:var(--secondary-color);
    font-size:30px;
    cursor:pointer;
    font-weight:lighter;

}
@media screen and (min-width:750px){
    .menu-icon{
        display:none;

    }
    #menulist{
        transition: all 0.25s;
    }
}

.nav ul li a:after{
    content:'';
    position:absolute ;
    background-color:var(--secondary-color);
    height:3px;
    bottom:0%;
    width:0;
    left:0;
    
}

nav ul li a:hover{
    color:var(--secondary-color);
    font-weight:700;
}
nav ul li a:hover:after{
    content:'';
    position:absolute ;
    background-color:var(--secondary-color);
    height:3px;
    width:100%;
    bottom:0%;
    left:0;
    transition: 0.3s ease-in;
}

.nav-heading:after{
    content:'';
    position:absolute ;
    background-color:var(--primary-color);
    height:3px;
    bottom:0%;
    width:0;
    left:0;
    
}

.nav-heading:hover{
    color:var(--secondary-color);
    font-weight:700;
}

.nav-heading:hover:after{
    content:'';
    position:absolute ;
    background-color:var(--secondary-color);
    height:3px;
    width:100%;
    bottom:0%;
    left:0;
    transition: 0.3s ease-in;
}




.profile{
    background-color:var(--primary-color);
    padding-top:30px;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
    
}

@media screen and  (min-width:750px){
    .profile{
        
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }    
}
.profile-image{
    height:260px;
    width:260px;
    border-radius:130px;
}
@media screen and  (min-width:750px){
    .profile-image{
        height:360px;
        width:360px;
        border-radius:180px;
    
    }
}

.profile-details{
    margin-left:30px;
    line-height:3px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-right:10px;
}

@media screen and  (min-width:750px){
    .profile-details{
        margin-left:50px;
        line-height:5px;
        
    }
}
.profile-details-info{
    font-family:"Roboto";
    

}
.name{
    font-size:28px;
    color:var(--secondary-color);
}
@media screen and (min-width:750px){
    .name{
        font-size:36px;
        
    }
}
.wish{
    color:var(--secondary-color);
        font-size:10px;
        font-weight:lighter;
        text-align:center;
}
@media screen and (min-width:750px){
    .wish{
        font-size:14px; 
    }
}

.job-type{
    color:var(--secondary-color);
    font-size:16px;
    text-align:center;
}

.icon{
    width:25px;
    cursor:pointer;
    
}

:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}

.dark-theme{
    --primary-color:#212121;
    --secondary-color:#edf2fc;
}
@media screen and (min-width:750px){
    .job-type{
        font-size:20px;
    }
}

.a{
    text-decoration:none;
    color:var(--secondary-color)
}
.button{
    font-family:"Roboto";
        font-size:10px;
        background-color:var(--primary-color);
        border:1px solid var(--secondary-color);
        width:80px;
        height:20px;
        border-radius: 18px;
        margin: 0;
        margin-right:10px;
        
}

@media screen and (min-width:750px){
    .button{
        font-size:12px;
        width:100px;
        height:36px;    
        
    }
}

.button2{
    background-color:var(--primary-color);
    
}



.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-image{
    height:35px;
    width:35px;
    
}

.git{
    height:30px;
    width:30px;
    
    
}
@media screen and (min-width:750px){
    .git{
        height:40px;
        width:40px;
        
    }
}

@media screen and (min-width:750px){
    .icon-image{
        height:50px;
        width:50px;
    }
}
.about-page{
    background-color:var(--primary-color);
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family:"Roboto"        
        
}

.about-heading{
    font-size:20px;
    color:var(--secondary-color);
}

@media screen and  (min-width:750px){
    .about-heading{
        font-size:30px;
    }
}

.about-description{
    font-size:14px;
    font-weight:500;
    width:80%;
    line-height:20px;
    color:var(--secondary-color);
}
@media screen and  (min-width:750px){
    .about-description{
        font-size:18px;
        font-weight:500;
        width:80%;
        line-height:30px;   
    }
}

.Projects{
    background-color:var(--primary-color);
    height:100%;
    width:100vw;
    padding-top:10px;
    
}


.ph1{
    font-family:"Roboto";
        font-size:10px;
        color:var(--secondary-color);
        text-align:center;
        line-height: 3px;
}

@media screen and (min-width:750px){
    .ph1{
        font-size:14px;
        line-height: 6px;
    }    
}
.ph2{
    font-family:"Roboto";
    font-size:16px;
    color:var(--secondary-color);
    font-weight:600;
    text-align:center;
}
@media screen and (min-width:750px){
    .ph2{
        font-size:20px;
    }
}

.projects-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
    
}
@media screen and (min-width:1400px){
    .projects-list{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
}

.project-card{
    border:1px solid var(--secondary-color);
        background-color:var(--primary-color);
        height:380px;
        width:260px;
        border-radius:14px;
        margin:20px;
        margin-top:none;
        margin-bottom:none;
        padding:6px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        
        
}

@media screen and  (min-width:750px){
    .project-card{
        height:440px;
        width:340px;
        border-radius:20px;
        margin:30px;
        padding:10px;
    }
}
.project-image{
    height:220px;
    width:220px;   
    border-radius:8px;
}
@media screen and (min-width:750px){
    .project-image{
        height:260px;
        width:260px;   
    }
}
.project-button{
    height:24px;
     width:90px;
    margin:10px;
    border-radius:10px;
    font-family:"Roboto";
    font-size:12px;
    font-weight:600;
    background-color: var(--primary);
    border-color:var(--secondary-color);
    cursor:pointer;
    
}


.a2{
    text-decoration: none;
    color:var(--secondary-color)
}
@media screen and  (min-width:750px){
    .project-button{
        height:36px;
        width:120px;
        margin:20px;
        border-radius:20px;
        font-size:14px;
    }    
}
.project-heading{
    font-family:"Roboto";
    font-size:20px;
    color:var(--secondary-color);
    font-weight: bold;
    text-align:center;
}
@media screen and  (min-width:750px){
    .project-heading{
        font-size:30px;
    }
}
.contact{
    height:100vh;
    width:100vw;
    background-color:var(--primary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.form-card{
    border:1px solid var(--secondary-color);
    height:280px;
    width:260px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:var(--primary-color);
    border-radius:12px;
}
@media screen and  (min-width:750px){
    .form-card{
        height:380px;
        width:360px;
    }
}

.contact-heading{
    font-family:"Roboto";
    font-size:16px;
    color:red;
}
@media screen and (min-width:750px){
    .contact-heading{
        font-size:20px;  
    }
}
.input{
    width:200px;
        height:8px;
        padding:8px;
        font-family:"Roboto";
        color:grey;
        text-align:start;
        border:0px;
        border-radius:12px;
        border:1px solid var(--secondary-color);
}
@media screen and (min-width:750px){
    .input{
        width:280px;
        height:10px;
        padding:10px; 
    }
}
.submit-button{
    font-family:"Roboto";
    font-size:12px;
    background-color:red;
    color:var(--secondary-color);
    margin:8px;
    height:30px;
    width:60px;
    border-radius:6px;
    border:none;
    cursor: pointer;
}
@media screen and (min-width:750px){
    .submit-button{
        font-size:14px;
        margin:10px;
        height:36px;
        width:60px;
    }
}

